.negro {
    color: black;
}

.rojo {
    color: red;
}

.amarillo {
    color: yellow;
}

.verde {
    color: green;
}

.morado {
    color: purple;
}

.naranja {
    color: orange;
}

.azul {
    color: blue;
}

.azulclaro {
    color: lightblue;
}